<div class="{{=class}} page" itemscope="" itemtype="http://schema.org/Person">
    <h2 itemprop="name"><span itemprop="honorificPrefix">{{=permalink}}</span> <span class="fullname"><span
                itemprop="givenName">{{=class}}</span> <span itemprop="familyName">Wiese</span></span>, <span
            itemprop="honorificSuffix">{{=class}}</span></h2>
    <div class="person-meta">
        <figure itemprop="image" class="person-image alignright person-thumb-page-v3 with-caption" aria-hidden="true"
            role="presentation" itemtype="http://schema.org/ImageObject"><img src="{{=class}}" itemprop="contentUrl"
                alt="{{=class}}" width="200" height="266"
                srcset="https://www.rrze.fau.de/files/2017/01/Wolfgang-Wiese.jpg 200w, https://www.rrze.fau.de/files/2017/01/Wolfgang-Wiese-150x200.jpg 150w"
                sizes="(max-width: 200px) 100vw, 200px">
            <meta itemprop="width" content="200">
            <meta itemprop="height" content="266">
            <figcaption itemprop="caption">{{=class}}</figcaption>
        </figure>
        <div class="person-info"><span class="person-info-position" itemprop="jobTitle">{{=class}}</span><br>
            <p itemprop="worksFor" itemtype="http://schema.org/Organization"><span itemprop="name">{{=class}}</span><br>
                <span itemprop="department">{{=class}}</span><br>
            </p>
            <address itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"><span
                    class="screen-reader-text">Raum: </span><span class="room">{{=class}}</span><br>
                <span itemprop="streetAddress">{{=class}}</span><br>
                <span itemprop="addressLocality">{{=class}}</span><br>
            </address>
            <ul class="contactlist">
                <li class="person-info-phone telephone"><span class="screen-reader-text">Telefon: </span><a
                        itemprop="telephone" href="tel:+49-9131-85-28326">{{=class}}</a></li>
                <li class="person-info-mobile mobilePhone"><span class="screen-reader-text">Mobil: </span><a
                        class="mobile" itemprop="telephone" href="tel:{{=class}}">{{=class}}</a></li>
                <li class="person-info-fax faxNumber"><span class="screen-reader-text">Faxnummer: </span><a
                        itemprop="faxNumber" href="tel:{{=class}}">{{=class}}</a></li>
                <li class="person-info-email email"><span class="screen-reader-text">E-Mail: </span><a itemprop="email"
                        href="mailto:wolfgang.wiese@fau.de">{{=class}}</a></li>
                <li class="person-info-www url"><span class="screen-reader-text">Webseite: </span><a itemprop="url"
                        href="{{=class}}">{{=class}}</a></li>
            </ul>
            <div itemprop="contactPoint" itemtype="http://schema.org/ContactPoint">
                <div itemprop="hoursAvaible" itemtype="http://schema.org/OpeningHoursSpecification">
                    <h3 itemprop="name">Sprechzeiten</h3>
                    <ul class="hoursAvailable_group" itemprop="disambiguatingDescription">
                        <li>10:00 - 11:30, Raum VC, Webmaster-Sprechstunde</li>
                        <li>Jede Woche <abbr title="Dienstag">Di</abbr>, 11:30 - 11:45, Raum Test1, Testeintrag 1. Di,
                            wöchentlich.</li>
                        <li>11:45 - 12:00, Raum Test2, Jeden Monat, 6. Tag</li>
                        <li>Alle zwei Wochen <abbr title="Donnerstag">Do</abbr>, <abbr title="Freitag">Fr</abbr>, 12:00
                            - 12:15, Raum Test3, jede 2. Woche Do, Fr</li>
                        <li>Jede Woche <abbr title="Montag">Mo</abbr>, 9:00 - 9:00, Raum Test4, 9.00-9.00 montags</li>
                        <li>Jede Woche <abbr title="Dienstag">Di</abbr>, 9:00 - 8:45, Raum Test5, 9 bis 8.45?
                            Zeitreiseantrag check</li>
                        <li>Täglich 9:45 - 9:44, Raum Test6, jeden Tag</li>
                        <li>9:44 - 9:43, Raum Test7, Taeglich alle 3 Tage</li>
                        <li>Jede Woche <abbr title="Dienstag">Di</abbr>, 8:00 - 7:00, Raum Test8, 8.pm - 7an EIngabe
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="desc" itemprop="description">
        <h2>Publikationen</h2>
        <div class="cris">
            <h3>2017</h3>
            <ul class="cris-publications " lang="de">
                <li itemscope="" itemtype="http://schema.org/ScholarlyArticle"><span class="author" itemprop="author"><a
                            href="https://cris.fau.de/converis/portal/Person/100122170" class="extern">Wiese
                            W.</a></span>:<br>
                    <span class="title" itemprop="name"><strong><a
                                href="https://cris.fau.de/converis/portal/publication/119590504?lang=de_DE"
                                title="Detailansicht in neuem Fenster öffnen">Pirate Rogue: Das WordPress Theme der
                                Piratenpartei Deutschland</a></strong></span><br>In: <span itemscope=""
                        itemtype="http://schema.org/Periodical" itemid="#periodical_119590504"><span
                            itemprop="name"><strong>Entwickler Magazin</strong></span></span> <span itemprop="isPartOf"
                        itemscope="" itemtype="http://schema.org/PublicationVolume">
                        <link itemprop="isPartOf" href="#periodical_119590504"><span itemprop="volumeNumber">Entwickler
                            Magazin Spezial Vol. 14: WordPress</span>
                    </span> (<span itemprop="datePublished">2017</span>), S. <span itemprop="pagination">100</span><br>
                    <span itemscope="" itemtype="http://schema.org/Periodical" itemid="#periodical_119590504"><span
                            itemprop="issn">ISSN: 1619-7941</span></span><br>URL: <a
                        href="http://www.entwickler-magazin.de" target="blank"
                        itemprop="url">http://www.entwickler-magazin.de</a>
                </li>
            </ul>
            <h3>2016</h3>
            <ul class="cris-publications " lang="de">
                <li itemscope="" itemtype="http://schema.org/ScholarlyArticle"><span class="author" itemprop="author"><a
                            href="https://cris.fau.de/converis/portal/Person/100122170" class="extern">Wiese
                            W.</a></span>:<br>
                    <span class="title" itemprop="name"><strong><a
                                href="https://cris.fau.de/converis/portal/publication/112663804?lang=de_DE"
                                title="Detailansicht in neuem Fenster öffnen">Back to School</a></strong></span><br>In:
                    <span itemscope="" itemtype="http://schema.org/Periodical" itemid="#periodical_112663804"><span
                            itemprop="name"><strong>Entwickler Magazin</strong></span></span> <span itemprop="isPartOf"
                        itemscope="" itemtype="http://schema.org/PublicationVolume">
                        <link itemprop="isPartOf" href="#periodical_112663804"><span itemprop="volumeNumber">entwickler
                            spezial WordPress</span>
                    </span> (<span itemprop="datePublished">2016</span>), S. <span itemprop="pagination">100</span><br>
                    <span itemscope="" itemtype="http://schema.org/Periodical" itemid="#periodical_112663804"><span
                            itemprop="issn">ISSN: 1619-7941</span></span><br>URL: <a
                        href="http://www.entwickler-magazin.de" target="blank"
                        itemprop="url">http://www.entwickler-magazin.de</a>
                </li>
            </ul>
            <h3>2006</h3>
            <ul class="cris-publications " lang="de">
                <li itemscope="" itemtype="http://schema.org/ScholarlyArticle"><span class="author" itemprop="author"><a
                            href="https://cris.fau.de/converis/portal/Person/100122170" class="extern">Wiese
                            W.</a></span>:<br>
                    <span class="title" itemprop="name"><strong><a
                                href="https://cris.fau.de/converis/portal/publication/121116204?lang=de_DE"
                                title="Detailansicht in neuem Fenster öffnen">Blogs an der Universität Erlangen-Nürnberg
                                - Mehr als ein weiteres Kommunikationsforum</a></strong></span><br>In: <span
                        itemscope="" itemtype="http://schema.org/Periodical" itemid="#periodical_121116204"><span
                            itemprop="name"><strong>Benutzerinformation</strong></span></span> (<span
                        itemprop="datePublished">2006</span>), S. <span itemprop="pagination">13 - 14</span><br>
                    <span itemscope="" itemtype="http://schema.org/Periodical" itemid="#periodical_121116204"><span
                            itemprop="issn">ISSN: 1436-6754</span></span><br>URL: <a
                        href="https://www.rrze.fau.de/wir-ueber-uns/publikationen/benutzerinformationen.shtml"
                        target="blank"
                        itemprop="url">https://www.rrze.fau.de/wir-ueber-uns/publikationen/benutzerinformationen.shtml</a>
                </li>
                <li itemscope="" itemtype="http://schema.org/ScholarlyArticle"><span class="author" itemprop="author"><a
                            href="https://cris.fau.de/converis/portal/Person/100122170" class="extern">Wiese
                            W.</a></span>:<br>
                    <span class="title" itemprop="name"><strong><a
                                href="https://cris.fau.de/converis/portal/publication/123186624?lang=de_DE"
                                title="Detailansicht in neuem Fenster öffnen">Web-Baukasten der
                                Friedrich-Alexander-Universität - Mit wenigen Klicks zur
                                Webpräsenz</a></strong></span><br>In: <span itemscope=""
                        itemtype="http://schema.org/Periodical" itemid="#periodical_123186624"><span
                            itemprop="name"><strong>Benutzerinformation</strong></span></span> (<span
                        itemprop="datePublished">2006</span>), S. <span itemprop="pagination">9-11</span><br>
                    <span itemscope="" itemtype="http://schema.org/Periodical" itemid="#periodical_123186624"><span
                            itemprop="issn">ISSN: 1436-6754</span></span><br>URL: <a
                        href="http://www.rrze.uni-erlangen.de/wir-ueber-uns/publikationen/benutzerinformation.shtml"
                        target="blank"
                        itemprop="url">http://www.rrze.uni-erlangen.de/wir-ueber-uns/publikationen/benutzerinformation.shtml</a>
                </li>
            </ul>
            <h3>2002</h3>
            <ul class="cris-publications " lang="de">
                <li itemscope="" itemtype="http://schema.org/Book"><span class="author" itemprop="author"><a
                            href="https://cris.fau.de/converis/portal/Person/100122170" class="extern">Wiese
                            W.</a></span>, <span class="author" itemprop="author">Taglinger H.</span>, <span
                        class="author" itemprop="author">Post M.</span>, <span class="author" itemprop="author">Jung
                        M.</span>:<br>
                    <span class="title" itemprop="name"><strong><a
                                href="https://cris.fau.de/converis/portal/publication/108762324?lang=de_DE"
                                title="Detailansicht in neuem Fenster öffnen">Internetprojekte von start bis
                                ende</a></strong></span><br>
                    <span itemprop="publisher" itemscope="" itemtype="http://schema.org/Organization"><span class="city"
                            itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"><span
                                itemprop="addressLocality">München</span></span>: <span
                            itemprop="name">Addison-Wesley</span></span>, <span itemprop="datePublished">2002</span><br>
                    <span itemprop="isbn">ISBN: 3827319404</span>
                </li>
            </ul>
            <h3>2000</h3>
            <ul class="cris-publications " lang="de">
                <li itemscope="" itemtype="http://schema.org/Thesis"><span class="author" itemprop="author"><a
                            href="https://cris.fau.de/converis/portal/Person/100122170" class="extern">Wiese
                            W.</a></span>:<br>
                    <span class="title" itemprop="name"><strong><a
                                href="https://cris.fau.de/converis/portal/publication/203236204?lang=de_DE"
                                title="Detailansicht in neuem Fenster öffnen">Konzeption und Realisierung eines
                                Web-Content-Management-Systems</a></strong></span> (Diplomarbeit, <span
                        itemprop="datePublished">2000</span>)
                </li>
            </ul>
        </div>
        <h2>Auszeichnungen</h2>
        <div class="cris" lang="de">
            <ul class="cris-awards">
                <li><span class="author" itemprop="author">Wolfgang Wiese</span>: <strong>Deutscher Multimedia
                        Award</strong> (Bundesverband Digitale Wirtschaft (BVDW) e.V., Deutsche Multimedia Kongress
                    (DMMK) und der Kommunikationsverband) – 2005</li>
                <li><span class="author" itemprop="author">Wolfgang Wiese</span>: <strong>BIENE Award</strong> (Aktion
                    Mensch und die Stiftung Digitale Chancen) – 2005</li>
            </ul>
        </div>
    </div>
</div>