<div class="{{=class}} thumb-size-small border" itemscope="" itemtype="http://schema.org/Person">
    <div class="row">
        <div class="contact-default">
            <h3>
                <a href="{{=permalink}}">
                    <span itemprop="name">
                        <span itemprop="honorificPrefix">{{=honorificPrefix}}</span> <span class="fullname"><span itemprop="givenName">{{=givenName}}</span> <span itemprop="familyName">{{=familyName}}</span></span>{{honorificSuffix}}, <span itemprop="honorificSuffix">{{=honorificSuffix}}</span>{{/honorificSuffix}}
                    </span>
                </a>
            </h3>
            <div class="contact-info">
                <span class="contact-info-position" itemprop="jobTitle">{{=position}}</span>
                <p itemprop="worksFor" itemtype="http://schema.org/Organization">
                    <span itemprop="name">{{=organization}}</span><br>
                    <span itemprop="department">{{=department}}</span>
                </p>
                {{@locations}}
                <ul class="contactlist">
                    {{_val.phone}}
                    <li class="contact-info-phone telephone">
                        <span class="screen-reader-text">Telefon: </span>
                        <a itemprop="telephone" href="tel:{{=phone}}">{{=_val.phone}}</a>
                    </li>
                    {{/_val.phone}}
                    {{_val.email}}
                    <li class="contact-info-email email">
                        <span class="screen-reader-text">E-Mail: </span>
                        <a itemprop="email" href="mailto:{{=email}}">{{=_val.email}}</a>
                    </li>
                    {{/_val.email}}
                </ul>
                {{/@locations}}
            </div>
        </div>
    </div>
</div>