{{accordion}}
    {{collapse_end}}
        [/collapse]
    {{/collapse_end}}
    {{collapsibles_start}}
        [collapsibles]
    {{/collapsibles_start}}
    {{collapse_start}}
        [collapse title="{{=collapse_title}}"]
    {{/collapse_start}}
{{/accordion}}
<ul class="{{=class}} list-contact">
    <li itemscope="" itemtype="http://schema.org/Person">
        <a href="{{=permalink}}"><span itemprop="name">{{honorificPrefix}}<span itemprop="honorificPrefix">{{=honorificPrefix}}</span>{{/honorificPrefix}} <span class="fullname">{{givenName}}<span itemprop="givenName">{{=givenName}}</span>{{/givenName}} {{familyName}}<span itemprop="familyName">{{=familyName}}</span>{{/familyName}}</span>{{honorificSuffix}}, <span itemprop="honorificSuffix">{{=honorificSuffix}}</span>{{/honorificSuffix}}</span></a> ( <span>{{@locations}}{{_val.url}}<span class="contact-info-www url"><span class="screen-reader-text">Webseite: </span><a itemprop="url" href="{{=_val.url}}">{{=_val.url}}</a> </span>{{/_val.url}}{{/@locations}}</span>)
        {{description}}<br>{{=description}}{{/description}}        
    </li>
</ul>
{{accordion}}
    {{collapsibles_end}}
        [/collapse]
        [/collapsibles]
    {{/collapsibles_end}}
{{/accordion}}