<div class="{{=class}} page" itemscope="" itemtype="http://schema.org/Person">

    <h2 itemprop="name">
        {{honorificPrefix}}<span itemprop="honorificPrefix">{{=honorificPrefix}}</span> {{/honorificPrefix}}<span
            class="fullname"><span itemprop="givenName">{{=givenName}}</span> <span
                itemprop="familyName">{{=familyName}}</span></span>{{honorificSuffix}}, <span
            itemprop="honorificSuffix">{{=honorificSuffix}}</span>{{/honorificSuffix}}
    </h2>

    <div class="person-meta">
        <figure itemprop="image" class="person-image alignright person-thumb-page-v3 with-caption" aria-hidden="true"
            role="presentation" itemtype="http://schema.org/ImageObject"><img src="{{=class}}" itemprop="contentUrl"
                alt="{{=class}}" width="200" height="266"
                srcset="https://www.rrze.fau.de/files/2017/01/Wolfgang-Wiese.jpg 200w, https://www.rrze.fau.de/files/2017/01/Wolfgang-Wiese-150x200.jpg 150w"
                sizes="(max-width: 200px) 100vw, 200px">
            <meta itemprop="width" content="200">
            <meta itemprop="height" content="266">
            <figcaption itemprop="caption">{{=class}}</figcaption>
        </figure>

        <div class="contact-info"><span class="contact-info-position" itemprop="jobTitle">{{=jobTitle}}</span><br>
            <p itemprop="worksFor" itemtype="http://schema.org/Organization"><span
                    itemprop="name">{{=organization}}</span><br>
                <span itemprop="department">{{=department}}</span><br>
            </p>

            {{@locations}}
            <ul class="contactlist">
                {{_val.street}}
                <address itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                    {{room}}<span class="screen-reader-text">__('Room', 'rrze-contact'): </span><span class="room">{{=room}}</span><br>{{/room}}
                    {{street}}<span itemprop="streetAddress">{{=street}}</span><br>{{/street}}
                    {{city}}<span itemprop="addressLocality">{{=city}}</span><br>{{/city}}
                </address>
                {{/_val.street}}
                {{_val.phone}}
                <li class="contact-info-phone telephone">
                    <span class="screen-reader-text">Telefon: </span>
                    <a itemprop="telephone" href="tel:{{=_val.phone}}">{{=_val.phone}}</a>
                </li>
                {{/_val.phone}}
                {{_val.mobile}}
                <li class="contact-info-mobile mobilePhone">
                    <span class="screen-reader-text">Mobil: </span>
                    <a itemprop="telephone" href="tel:{{=_val.mobile}}">{{=_val.mobile}}</a>
                </li>
                {{/_val.mobile}}
                {{_val.fax}}
                <li class="contact-info-fax faxNumber">
                    <span class="screen-reader-text">Faxnummer: </span>
                    <a itemprop="faxNumber" href="tel:{{=_val.fax}}">{{=_val.fax}}</a>
                </li>
                {{/_val.fax}}
                {{_val.email}}
                <li class="contact-info-email email">
                    <span class="screen-reader-text">E-Mail: </span>
                    <a itemprop="email" href="mailto:{{=_val.email}}">{{=_val.email}}</a>
                </li>
                {{/_val.email}}
                {{_val.url}}
                <li class="contact-info-www url">
                    <span class="screen-reader-text">E-Webseite: </span>
                    <a itemprop="url" href="{{=_val.url}}">{{=_val.url}}</a>
                </li>
                {{/_val.url}}
            </ul>
            {{/@locations}}
            {{consultations}}
            <div itemprop="contactPoint" itemtype="http://schema.org/ContactPoint">
                <div itemprop="hoursAvaible" itemtype="http://schema.org/OpeningHoursSpecification">
                    <h3 itemprop="name">Sprechzeiten</h3>
                    <ul class="hoursAvailable_group" itemprop="disambiguatingDescription">
                        {{@consultations}}
                        <li>{{=_val.starttime}} - {{=_val.endtime}}, {{=_val.room}}, {{=_val.comment}}</li>
                        {{/@consultations}}
                    </ul>
                </div>
            </div>
            {{/consultations}}
        </div>
    </div>
    {{post_content}}
    <div class="desc" itemprop="description">{{=post_content}}</div>
    {{/post_content}}
</div>