{{accordion}}
    {{collapsibles_start}}
        [collapsibles]
    {{/collapsibles_start}}
    {{collapse_start}}
        [collapse title="{{=collapse_title}}"]
    {{/collapse_start}}
{{/accordion}}
<div class="{{=class}} page" itemscope="" itemtype="http://schema.org/Person">
    <h3><a href="{{=permalink}}"><span itemprop="name">{{honorificPrefix}}<span itemprop="honorificPrefix">{{=honorificPrefix}}</span>{{/honorificPrefix}} <span class="fullname">{{givenName}}<span itemprop="givenName">{{=givenName}}</span>{{/givenName}} {{familyName}}<span itemprop="familyName">{{=familyName}}</span>{{/familyName}}</span>{{honorificSuffix}}, <span itemprop="honorificSuffix">{{=honorificSuffix}}</span>{{/honorificSuffix}}</span></a></h3>
    <div class="person-meta">
        {{image}}
        <figure itemprop="image" class="contact-image alignright contact-thumb-page-v3 with-caption" aria-hidden="true" role="presentation" itemtype="http://schema.org/ImageObject">
            <img src="{{=image.src}}" itemprop="contentUrl" {{image.alt}}alt="{{=image.alt}}"{{/image.alt}} width="{{=image.width}}" height="{{=image.height}}" {{image.srcset}}srcset="{{=image.srcset}}"{{/image.srcset}} {{image.sizes}}sizes="{{=image.sizes}}"{{/image.sizes}}>
            <meta itemprop="width" content="{{=image.width}}">
            <meta itemprop="height" content="{{=image.height}}">
            {{image.caption}}
                <figcaption itemprop="caption">{{=image.caption}}</figcaption>
            {{/image.caption}}
        </figure>
        {{/image}}

        <div class="contact-info">            
            {{socialmedia-after-name}}
            {{socialmedia}}
            <ul class="socialmedia">
                {{twitter}}
                <li class="twitter"><a itemprop="sameAs" href="{{=twitter}}">Twitter<span
                            class="screen-reader-text">: {{=screen-reader-text}}</span></a></li>
                {{/twitter}}
                {{facebook}}
                <li class="facebook"><a itemprop="sameAs" href="{{=facebook}}">Facebook<span
                            class="screen-reader-text">: {{=screen-reader-text}}</span></a></li>
                {{/facebook}}
                {{linkedin}}
                <li class="linkedin"><a itemprop="sameAs" href="{{=linkedin}}">LinkedIn<span
                            class="screen-reader-text">: {{=screen-reader-text}}</span></a></li>
                {{/linkedin}}
                {{instagram}}
                <li class="instagram"><a itemprop="sameAs" href="{{=instagram}}">Instagram<span
                            class="screen-reader-text">: {{=screen-reader-text}}</span></a></li>
                {{/instagram}}
                {{xing}}
                <li class="xing"><a itemprop="sameAs" href="{{=xing}}">Xing<span class="screen-reader-text">:
                            {{=screen-reader-text}}</span></a></li>
                {{/xing}}
                {{youtube}}
                <li class="youtube"><a itemprop="sameAs" href="{{=youtube}}">YouTube<span
                            class="screen-reader-text">: {{=screen-reader-text}}</span></a></li>
                {{/youtube}}
                {{github}}
                <li class="github"><a itemprop="sameAs" href="{{=github}}">GitHub<span class="screen-reader-text">:
                            {{=screen-reader-text}}</span></a></li>
                {{/github}}
                {{publons}}
                <li class="publons"><a itemprop="sameAs" href="{{=publons}}">Publons<span
                            class="screen-reader-text">: {{=screen-reader-text}}</span></a></li>
                {{/publons}}
                {{scopus}}
                <li class="scopus"><a itemprop="sameAs" href="{{=scopus}}">Scopus<span class="screen-reader-text">:
                            {{=screen-reader-text}}</span></a></li>
                {{/scopus}}
                {{googlescholar}}
                <li class="googlescholar"><a itemprop="sameAs" href="{{=googlescholar}}">Google Scholar<span
                            class="screen-reader-text">: {{=screen-reader-text}}</span></a></li>
                {{/googlescholar}}
                {{orcid}}
                <li class="orcid"><a itemprop="sameAs" href="{{=orcid}}">ORCID<span class="screen-reader-text">:
                            {{=screen-reader-text}}</span></a></li>
                {{/orcid}}
                {{researchgate}}
                <li class="researchgate"><a itemprop="sameAs" href="{{=researchgate}}">Research Gate<span
                            class="screen-reader-text">: {{=screen-reader-text}}</span></a></li>
                {{/researchgate}}
                {{tiktok}}
                <li class="tiktok"><a itemprop="sameAs" href="{{=tiktok}}">TikTok<span class="screen-reader-text">:
                            {{=screen-reader-text}}</span></a></li>
                {{/tiktok}}
            </ul>
            {{/socialmedia}}
            {{/socialmedia-after-name}}
            {{position}}<span class="contact-info-position" itemprop="jobTitle">{{=position}}</span><br>{{/position}}
            <p itemprop="worksFor" itemtype="http://schema.org/Organization">
                {{organization}}<span itemprop="name">{{=organization}}</span><br>{{/organization}}
                {{department}}<span itemprop="department">{{=department}}</span><br>{{/department}}
            </p>
            {{@locations}}
            {{_val.street}}
            <address itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                {{_val.room}}{{=room_text}}: <span class="room">{{=_val.room}}</span><br>{{/_val.room}}
                <span itemprop="streetAddress">{{=_val.street}}</span><br>
                <span itemprop="addressLocality">{{=_val.city}}</span><br>
            </address>
            {{/_val.street}}
            <ul class="contactlist">
                {{_val.phone}}
                <li class="contact-info-phone telephone">
                    <span class="screen-reader-text">Telefon: </span><a itemprop="telephone" href="tel:{{=_val.phone}}">{{=_val.phone}}</a>
                </li>
                {{/_val.phone}}
                {{_val.mobile}}
                <li class="contact-info-mobile mobilePhone">
                    <span class="screen-reader-text">Mobil: </span><a class="mobile" itemprop="telephone" href="tel:{{=_val.mobile}}">{{=_val.mobile}}</a>
                </li>
                {{/_val.mobile}}
                {{_val.fax}}
                <li class="contact-info-fax faxNumber">
                    <span class="screen-reader-text">Faxnummer: </span><a itemprop="faxNumber" href="tel:{{=_val.fax}}">{{=_val.fax}}</a>
                </li>
                {{/_val.fax}}
                {{_val.email}}
                <li class="contact-info-email email">
                    <span class="screen-reader-text">E-Mail: </span><a itemprop="email" href="mailto:{{=_val.email}}">{{=_val.email}}</a>
                </li>
                {{/_val.email}}
                {{_val.url}}
                <li class="contact-info-www url">
                    <span class="screen-reader-text">E-Webseite: </span><a itemprop="url" href="{{=_val.url}}">{{=_val.url}}</a>
                </li>
                {{/_val.url}}
            </ul>
            {{/@locations}}
            {{socialmedia-after-location}}
            {{socialmedia}}
            <ul class="socialmedia">
                {{twitter}}
                <li class="twitter"><a itemprop="sameAs" href="{{=twitter}}">Twitter<span
                            class="screen-reader-text">: {{=screen-reader-text}}</span></a></li>
                {{/twitter}}
                {{facebook}}
                <li class="facebook"><a itemprop="sameAs" href="{{=facebook}}">Facebook<span
                            class="screen-reader-text">: {{=screen-reader-text}}</span></a></li>
                {{/facebook}}
                {{linkedin}}
                <li class="linkedin"><a itemprop="sameAs" href="{{=linkedin}}">LinkedIn<span
                            class="screen-reader-text">: {{=screen-reader-text}}</span></a></li>
                {{/linkedin}}
                {{instagram}}
                <li class="instagram"><a itemprop="sameAs" href="{{=instagram}}">Instagram<span
                            class="screen-reader-text">: {{=screen-reader-text}}</span></a></li>
                {{/instagram}}
                {{xing}}
                <li class="xing"><a itemprop="sameAs" href="{{=xing}}">Xing<span class="screen-reader-text">:
                            {{=screen-reader-text}}</span></a></li>
                {{/xing}}
                {{youtube}}
                <li class="youtube"><a itemprop="sameAs" href="{{=youtube}}">YouTube<span
                            class="screen-reader-text">: {{=screen-reader-text}}</span></a></li>
                {{/youtube}}
                {{github}}
                <li class="github"><a itemprop="sameAs" href="{{=github}}">GitHub<span class="screen-reader-text">:
                            {{=screen-reader-text}}</span></a></li>
                {{/github}}
                {{publons}}
                <li class="publons"><a itemprop="sameAs" href="{{=publons}}">Publons<span
                            class="screen-reader-text">: {{=screen-reader-text}}</span></a></li>
                {{/publons}}
                {{scopus}}
                <li class="scopus"><a itemprop="sameAs" href="{{=scopus}}">Scopus<span class="screen-reader-text">:
                            {{=screen-reader-text}}</span></a></li>
                {{/scopus}}
                {{googlescholar}}
                <li class="googlescholar"><a itemprop="sameAs" href="{{=googlescholar}}">Google Scholar<span
                            class="screen-reader-text">: {{=screen-reader-text}}</span></a></li>
                {{/googlescholar}}
                {{orcid}}
                <li class="orcid"><a itemprop="sameAs" href="{{=orcid}}">ORCID<span class="screen-reader-text">:
                            {{=screen-reader-text}}</span></a></li>
                {{/orcid}}
                {{researchgate}}
                <li class="researchgate"><a itemprop="sameAs" href="{{=researchgate}}">Research Gate<span
                            class="screen-reader-text">: {{=screen-reader-text}}</span></a></li>
                {{/researchgate}}
                {{tiktok}}
                <li class="tiktok"><a itemprop="sameAs" href="{{=tiktok}}">TikTok<span class="screen-reader-text">:
                            {{=screen-reader-text}}</span></a></li>
                {{/tiktok}}
            </ul>
            {{/socialmedia}}
            {{/socialmedia-after-location}}

            {{consultations}}
            <div itemprop="contactPoint" itemtype="http://schema.org/ContactPoint">
                <div itemprop="hoursAvaible" itemtype="http://schema.org/OpeningHoursSpecification">
                    <h3 itemprop="name">Sprechzeiten</h3>
                    <ul class="hoursAvailable_group" itemprop="disambiguatingDescription">
                        {{@consultations}}
                        <li>{{=_val.starttime}} - {{=_val.endtime}}, {{=_val.room}}, {{=_val.comment}}</li>
                        {{/@consultations}}
                    </ul>
                </div>
            </div>
            {{/consultations}}
        </div>
    </div>
    {{post_content}}
    <div class="desc" itemprop="description">{{=post_content}}</div>
    {{/post_content}}
</div>
{{accordion}}
    {{collapse_end}}
        [/collapse]
    {{/collapse_end}}
    {{collapsibles_end}}
        [/collapsibles]
    {{/collapsibles_end}}
{{/accordion}}