{{accordion}}
    {{collapsibles_start}}
        [collapsibles]
    {{/collapsibles_start}}
    {{collapse_start}}
        [collapse title="{{=collapse_title}}"]
    {{/collapse_start}}
{{/accordion}}
<div class="{{=class}}" itemscope="" itemtype="http://schema.org/Person">
    <div class="row">
        <div class="person-default">
            <h3><a href="{{=permalink}}"><span itemprop="name">{{familyName}}{{honorificPrefix}}<span itemprop="honorificPrefix">{{=honorificPrefix}}</span>{{/honorificPrefix}} <span class="fullname">{{givenName}}<span itemprop="givenName">{{=givenName}}</span>{{/givenName}} <span itemprop="familyName">{{=familyName}}</span></span>{{honorificSuffix}}, <span itemprop="honorificSuffix">{{=honorificSuffix}}</span>{{/honorificSuffix}}</span>{{:familyName}}{{name}}{{=name}}{{/name}}{{/familyName}}</a></h3>        </div>
        </div>
    </div>
</div>
{{accordion}}
    {{collapse_end}}
        [/collapse]
    {{/collapse_end}}
    {{collapsibles_end}}
        [/collapsibles]
    {{/collapsibles_end}}
{{/accordion}}