<div class="{{=class}}" itemscope="" itemtype="http://schema.org/Person">
    <div class="row">
        <div class="person-default">
            <h3>
                <a href="{{=permalink}}">
                    <span itemprop="name">
                        <span itemprop="honorificPrefix">{{=honorificPrefix}}</span> <span class="fullname"><span
                                itemprop="givenName">{{=givenName}}</span> <span
                                itemprop="familyName">{{=familyName}}</span></span>{{honorificSuffix}}, <span itemprop="honorificSuffix">{{=honorificSuffix}}</span>{{/honorificSuffix}}
                    </span>
                </a>
            </h3>
        </div>
    </div>
</div>